<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue Page 방식</title>
	<link rel="stylesheet" href="../css/fa.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div id="app" class="container">
		<div class="jumbotron">
			<h1>Vue를 배워봅시다.</h1>
		</div>
		<form v-on:submit.prevent="onSubmit" class="position-relative">
			<input v-model="query" type="text" autofocus class="form-control">
			<i v-show="query.length" v-on:click="onReset" class="btn-reset fas fa-times-circle"></i>
		</form>
		<div class="d-flex justify-content-between flex-wrap my-3">
			<ul class="mb-4" style="flex: 32% 0 0;" v-for="item in resultData">
				<li><img v-bind:src="item.src" class="w-100"></li>
				<li><h3>{{ item.title }}</h3></li>
				<li>{{ item.desc }}</li>
			</ul>
		</div>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="../js/index.js" type="module"></script>
</body>
</html>